:host {
    flex-grow: 1;
    height: calc(100vh - 47px - 40px);
    border: 2px solid #0049b7;
    border-radius: 5px;

    @media (min-width: 531px) {
        height: calc(100vh - 47px - 80px);
    }
}

@import "https://js.arcgis.com/4.23/@arcgis/core/assets/esri/themes/dark/main.css";

.esri-view {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#mapViewNode {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
