.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-flex-end {
        justify-content: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.gap-20 {
        gap: 20px;
    }

    &-grow {
        flex-grow: 1;
    }
}

.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text- {
    &center {
        text-align: center;
    }

    &xl {
        font-size: 26px;
    }

    &l {
        font-size: 22px;
    }

    &s {
        font-size: 14px;
    }

    &xs {
        font-size: 12px;
    }

    &xxs {
        font-size: 10px;
    }

    // &bold {
    //     font-family: $font-family-for-bold;
    //     font-weight: 600;
    // }
}
