.main-footer {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgb(240, 240, 240);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @media (max-width: 530px) {
        display: none;
    }
}
