//// All types of the AirBnB cereal font:

@font-face {
    font-family: hexagon;
    src: url("../../assets/fonts/Hexagon/hexagon.regular.ttf");
}

@font-face {
    font-family: Cereal-w-blk;
    src: url("../../assets/fonts/AirbnbCereal_W_Blk.otf");
}

@font-face {
    font-family: Cereal-w-xbd;
    src: url("../../assets/fonts/AirbnbCereal_W_XBd.otf");
}

@font-face {
    font-family: Cereal-w-bd;
    src: url("../../assets/fonts/AirbnbCereal_W_Bd.otf");
}

@font-face {
    font-family: Cereal-w-md;
    src: url("../../assets/fonts/AirbnbCereal_W_Md.otf");
}

@font-face {
    font-family: Cereal;
    src: url("../../assets/fonts/AirbnbCereal_W_Bk.otf");
}

@font-face {
    font-family: Cereal-w-lt;
    src: url("../../assets/fonts/AirbnbCereal_W_Lt.otf");
}
